{{ define "main" }}
{{ partial "back_link.html" .}}

<h1>{{ .Title }}</h1>

{{ .Content }}

<!-- divide post list by year  -->
{{ if  .Site.Params.theme_config.isListGroupByDate  }}
    {{ range .Pages.GroupByDate "2006 Year" }}
    <p>{{ .Key }}</p>
    <ul>
        {{ range .Pages }}
            <li>
            	<time datetime="{{ .Date }}">{{ .Date | time.Format site.Params.theme_config.date_format }} 
                </time><a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </li>
        {{ end }}
    </ul>
    {{ end }}
{{ else }}
	<ul>
        {{ range .Pages }}
            <li>
            	<time datetime="{{ .Date }}">{{ .Date | time.Format site.Params.theme_config.date_format }} 
                </time><a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </li>
        {{ end }}
    </ul>
{{ end }}

{{ partial "footer.html" }}

{{ end }}